.list{
    color: #fff;
    width: 300px;
    margin: 20px auto;
    height: 50px;
    background-color: #ad10a6cc;
    border-radius: 10px;
    margin-left:440px;
}.button1{
    background-color:rgb(43, 7, 43);
    color:white;
}
.list p{
    padding: 10px;
    position: relative;
    transition: ease-in-out;
}
.list p input{
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 18px;
}

.list p span{
    position: absolute;
    right: 10px;
}