
<!DOCTYPE html>
<html>
    
<body>
    <img src="./assets/images/angular.png" style="float:right;width:100px;height:100px;clear:right">
    
<ul>
  
  <li><a class="btn btn-primary" href="#home">Home</a></li><br>
  <li><a class="btn btn-primary"  routerLink="/binding">Data Binding </a><br></li>
  <li><a class="btn btn-primary"  routerLink="/login"  >Login </a><br></li>
  <li><a class="btn btn-primary"  routerLink="/register" >Register with validation></a><br></li>
  <li><a class="btn btn-primary"  routerLink="/encapsulation">Encapsulation</a><br></li>
  <li><a class="btn btn-primary"  routerLink="/parent">Component Communication</a><br></li>
  <li><a class="btn btn-primary"  routerLink="/directives">Directives</a><br></li>
  <li><a class="btn btn-primary"  routerLink="/pipes">Pipes</a><br></li>
  <li><a class="btn btn-primary"  routerLink="/employeedetails">Service and DependentInjection</a><br></li>
  <li><a class="btn btn-primary"  routerLink="/about">ReactiveForm Example </a><br></li>
  <li><a class="btn btn-primary"  routerLink="/rxjs">Rxjs Example </a><br></li>
  
</ul>

<router-outlet></router-outlet>
</body>
</html>



